@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.contenedorAccesoAListas{
  position: absolute;
  width: calc(100% - 500px);
  height: 55%;
  top: 150px;
  left: 12%;
  padding: 30px;
  background-image: url(/img/BGAlmacen.png);
  background-size: cover;
  border-radius: 30px;
  box-shadow: 0px 0px 5px black;

  font-family: 'Roboto', sans-serif;
}

.botonListado{
  font-size: 40px;
  text-shadow: 0px 0px 10px black;
  background: none;
  border: solid 3px #fddfb5;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  width: 400px;
  height: fit-content;
  display: flex;
  text-align: right;
  align-items: center;
  margin-top: 20px;
  position: relative;
  top: -15px;
  justify-content: right;
}

.footerAlmacen{
  width: 100%;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  bottom: 0%;
  left: 0%;
  display: flex;
  justify-content: right;
  padding: 5px 5px 5px 5px;
}

#imagenUbicacionAlmacen{
  width: 25px;
  height: 25px;
}

.iconoBotonListado{
  width: 50px;
  height: 50px;
}

#contenedorUbicacionAlmacen{
  position: absolute;
  right: 3%;
  display: flex;
  align-items: center;
  gap: 5px;
}

#labelAOrdenar{
  position: absolute;
  left: 20px;
}