@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    padding: 0;
    background-size: 100%;
    background-image: url(../img/BGAlmacen.png);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}